{% extends 'master.html' %}
{% block head %}

<!-- <link href="/static/css/search.css" rel="stylesheet">
 --> <!-- <link href="/static/css/gridtest.css" rel="stylesheet">
 --><link href="/static/css/gridtest2.css" rel="stylesheet">

<script src="/static/js/jquery-1.10.2.min.js" type="text/javascript"></script>
<script src="/static/js/freewall.js" type="text/javascript"></script>
<!-- <script src="/static/js/jquery.lazyload.min.js" type="text/javascript"></script>
 -->
<style type="text/css">
            body {
                background: rgba(231, 231, 231, 0.43);
            }
            .free-wall {
                margin: 15px;
            }
            .brick {
                width: 221.2px;
            }
            .info {
                padding: 15px;
                color: #333;
            }
            .brick img {
                margin: 0px;
                padding: 0px;
                display: block;
            }
            h4 {
                text-shadow: 1px 1px 0 rgba(0,0,0,0.5);
                font-family: 'Lato', Georgia, Helvetica, Tahoma;
                margin: 10px 0;
                font-weight: normal;
            }

            span {
                float:left;
                position:relative;
                margin-right:5px;
                bottom:2px;
            }
}
</style>

 <script type="text/javascript">
// $(function() {
//     $("img.lazy").lazyload();
// });
// </script>


{% endblock %}
{% block body %}

<!-- <form method="POST" action="/{{ username }}/search" class="form-wrapper cf">
  <input name="searched_ingredient" type="text" placeholder="Search by ingredient...">
  <button type="submit">Search</button>
</form> -->

<div class="search-bar">
<form role="form" method="POST">
    <input type="text" class="col-md-3" placeholder="Search by Ingredient...">
    <button type="submit" class="btn btn-info btn-sm pull-left" id="search-btn"><span class="glyphicon glyphicon-search"></span></button>
</form>
</div>

<form method="POST" action="/{{ username }}/browse_recipes">
    <div id="freewall" class="free-wall">
        {% for category in categorized_recipes %}
        {% for recipe in categorized_recipes[category] %}
        <div class="brick">
            <img src={{ recipe.image_URL }} width="100%" class="lazy">
            <div class="info">
                <input type="checkbox" class="chkbox" name="recipe_checkbox" value={{ recipe.id }}> 
                <h4><a href="/{{ username }}/recipe/{{ recipe.name }}" style="color:black">{{ recipe.name }}</a></h4>
                <p><span class="stars star{{recipe.orig_rating}}"></span> ({{ recipe.num_ratings }})</p>
            </div>
        </div>
        {% endfor %}
        {% endfor %}
    </div>
</form>

    
<!--

    <div class="span12">
                
                {% for recipe in categorized_recipes[category] %}
                <div class="custom-container">
                    <div class="recipe-wrapper">
                        <a href="/{{ username }}/recipe/{{ recipe.name }}"><img src={{ recipe.image_URL }} alt={{ recipe.name }} width="250" height="225" class="img-thumbnail"></a>
                        <input type="checkbox" class="chkbox" name="recipe_checkbox" value={{ recipe.id }}> 
                    </div>
                <p><a href="/{{ username }}/recipe/{{ recipe.name }}">{{ recipe.name }}</a></p>
                <p><span class="stars star+{{recipe.rating}}">Rating: 1 star out of 5</span> (65)</p>
                </div>
                {% endfor %}
                

            </div>
</div>

-->



<script type="text/javascript">
            var wall = new freewall("#freewall");
            wall.reset({
                selector: '.brick',
                animate: true,
                cellW: 200,
                cellH: 'auto',
                onResize: function() {
                    wall.fitWidth();
                }
            });
            
            var images = wall.container.find('.brick');
            
            var length = images.length;
            images.css({visibility: 'hidden'});
            images.find('img').load(function() {
                -- length;
                if (!length) {
                    setTimeout(function() {
                        images.css({visibility: 'visible'});
                        wall.fitWidth();
                    }, 505);
                }
            });


            //setTimeout has 505.

        </script>

{% endblock %}