{% extends 'master.html' %}
{% block body %}
    <h1>Recipe Box</h1>

        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-4 centered-text">
                    <img src="/static/images/sampleimage.jpeg" alt="Sample Image"
                         width="250" height="225">
                    <p style="font-size:18px">Pasta Primavera</p>
                    <i class='glyphicon glyphicon-star'></i><i class='glyphicon glyphicon-star'></i><i class='glyphicon glyphicon-star'></i><i class='glyphicon glyphicon-star-empty'></i><i class='glyphicon glyphicon-star-empty'></i> <p style="font-size:12px">34 Reviews</p>
                    <img src="http://3.bp.blogspot.com/-Nxk55KSD2g0/T9wsNovhrFI/AAAAAAAALZ4/VqJpFBbnbf0/s1600/IMG_1905.JPG" alt="Sample Image"
                         width="250" height="225">
                    <p style="font-size:18px">Xavier Steak</p><i class='glyphicon glyphicon-star'></i><i class='glyphicon glyphicon-star'></i><i class='glyphicon glyphicon-star-empty'></i><i class='glyphicon glyphicon-star-empty'></i><i class='glyphicon glyphicaon-star-empy'></i> <p style="font-size:12px">34 Reviews</p>
                </div>
                <div class="col-sm-4 centered-text">
                    <img src="http://1.bp.blogspot.com/-Ek9Rmbepo5w/T4upY9FvyXI/AAAAAAAADsE/An7g_yxEq2k/s1600/Strawberry+Ombre+Cake-7.jpg" alt="Sample Image"
                         width="250" height="225">
                    <p style="font-size:18px">Strawberry Ombre Cake</p>
                    <i class='glyphicon glyphicon-star'></i><i class='glyphicon glyphicon-star'></i><i class='glyphicon glyphicon-star'></i><i class='glyphicon glyphicon-star-empty'></i><i class='glyphicon glyphicon-star-empty'></i> <p style="font-size:12px">850 Reviews</p>
                </div>
                <div class="col-sm-4 centered-text">
                    <img src="http://i.huffpost.com/gen/1415549/thumbs/o-JELLO-SHRIMP-FROSTING-facebook.jpg" alt="Sample Image"
                         width="250" height="225">
                    <p style="font-size:18px">Jello Shrimp Salad</p>
                    <i class='glyphicon glyphicon-star'></i><i class='glyphicon glyphicon-star-empty'></i><i class='glyphicon glyphicon-star-empty'></i><i class='glyphicon glyphicon-star-empty'></i><i class='glyphicon glyphicon-star-empty'></i> <p style="font-size:12px">438 Reviews</p>
                </div>
            </div>
        </div>
{% endblock %}